################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WeavyBackend/FileContentIndex/6b633aba-74af-4617-99fc-0cafc9851c13.vsidx
